In [7]:
import numpy as np
import pandas as pd

students = np.random.randint(50, high=101, size=(50, 5))
students_df = pd.DataFrame(data=students,
            index=[f"學生{i}" for i in range(1,51)],
            columns=['國文','英文','數學','地理','歷史'])
type(students_df)

pandas.core.frame.DataFrame

In [ ]:
students_df.to_numpy()

In [ ]:
# Series
students_df['國文']
students_df['英文']

In [11]:
students_df[['國文','英文']]

      國文   英文
學生1   73   96
學生2   82   72
學生3   99   61
學生4   83   62
學生5   96   66
學生6   56   57
學生7   95   53
學生8   59   72
學生9   95   71
學生10  65   60
學生11  52   78
學生12  97   61
學生13  53   74
學生14  75   96
學生15  66   51
學生16  96   70
學生17  76   91
學生18  90   99
學生19  69   60
學生20  78   90
學生21  99   58
學生22  82   70
學生23  76   84
學生24  98   51
學生25  78   96
學生26  79   92
學生27  89   67
學生28  64   96
學生29  62   63
學生30  92   77
學生31  50  100
學生32  78   73
學生33  90   96
學生34  66   88
學生35  75   63
學生36  84   50
學生37  91   98
學生38  91   59
學生39  51   96
學生40  52   92
學生41  99   58
學生42  57   69
學生43  60   78
學生44  59   93
學生45  58   68
學生46  65   57
學生47  78   79
學生48  86   62
學生49  73   88
學生50  51   78