In [2]:
import pandas as pd

df1 = pd.read_csv('上市公司資料.csv')
df2 = df1[['出表日期','資料年月','公司代號','公司名稱','產業別']]
df2

        出表日期   資料年月  公司代號 公司名稱   產業別
0    1110912  11108  1102   亞泥  水泥工業
1    1110912  11108  1108   幸福  水泥工業
2    1110912  11108  1109   信大  水泥工業
3    1110912  11108  1110   東泥  水泥工業
4    1110912  11108  1213   大飲  食品工業
..       ...    ...   ...  ...   ...
834  1110912  11108  9942   茂順    其他
835  1110912  11108  9943  好樂迪  觀光事業
836  1110912  11108  9944   新麗    其他
837  1110912  11108  9955   佳龍    其他
838  1110912  11108  9958  世紀鋼  鋼鐵工業

[839 rows x 5 columns]