In [5]:
import numpy as np
import pandas as pd

students = np.random.randint(50, high=101, size=(50, 5))
students_df = pd.DataFrame(data=students,
            index=[f"學生{i}" for i in range(1,51)],
            columns=['國文','英文','數學','地理','歷史'])
students_df

      國文   英文  數學  地理   歷史
學生1   80   94  54  88   62
學生2   83   80  67  63   95
學生3   86   94  59  61   73
學生4   87   68  95  97  100
學生5   66   79  50  91   90
學生6   69   72  56  64   89
學生7   65   84  91  86   81
學生8   67   82  50  81   52
學生9   60   65  87  58   88
學生10  72   80  74  52   53
學生11  53   57  75  82   88
學生12  80  100  65  87   86
學生13  65   73  90  74   71
學生14  51   64  59  80   53
學生15  98   89  71  75   98
學生16  98   58  53  56   76
學生17  85   57  51  72   52
學生18  73   91  63  66   94
學生19  82   71  72  77   57
學生20  61   89  57  67   82
學生21  60   75  57  88   70
學生22  50   74  89  59   71
學生23  66   71  70  80   89
學生24  69   95  70  71   89
學生25  52   65  58  77   70
學生26  67   88  82  54   82
學生27  99   81  95  82   70
學生28  66   82  58  69   87
學生29  85   89  57  92   76
學生30  86   63  94  54   57
學生31  80   54  67  67   68
學生32  61   95  79  87   98
學生33  86   55  78  90   82
學生34  90   81  82  50   73
學生35  85   75  87  67   87
學生36  94  100  90  62   60
學生37  95   54  81  62   73
學生38  88   51  66  77   67
學生39  74   59  92  62   62
學生40  76  100  68  67   69
學生41  92   54  65  51   51
學生42  78   65  68  98   56
學生43  52   97  91  71   57
學生44  96   98  75  62   96
學生45  64   50  78  73   98
學生46  74   84  77  55   54
學生47  73   72  87  68   79
學生48  57   95  72  93   65
學生49  64   60  60  91   70
學生50  88   93  94  90   56

In [6]:
students_df.to_numpy()

array([[ 80,  94,  54,  88,  62],
       [ 83,  80,  67,  63,  95],
       [ 86,  94,  59,  61,  73],
       [ 87,  68,  95,  97, 100],
       [ 66,  79,  50,  91,  90],
       [ 69,  72,  56,  64,  89],
       [ 65,  84,  91,  86,  81],
       [ 67,  82,  50,  81,  52],
       [ 60,  65,  87,  58,  88],
       [ 72,  80,  74,  52,  53],
       [ 53,  57,  75,  82,  88],
       [ 80, 100,  65,  87,  86],
       [ 65,  73,  90,  74,  71],
       [ 51,  64,  59,  80,  53],
       [ 98,  89,  71,  75,  98],
       [ 98,  58,  53,  56,  76],
       [ 85,  57,  51,  72,  52],
       [ 73,  91,  63,  66,  94],
       [ 82,  71,  72,  77,  57],
       [ 61,  89,  57,  67,  82],
       [ 60,  75,  57,  88,  70],
       [ 50,  74,  89,  59,  71],
       [ 66,  71,  70,  80,  89],
       [ 69,  95,  70,  71,  89],
       [ 52,  65,  58,  77,  70],
       [ 67,  88,  82,  54,  82],
       [ 99,  81,  95,  82,  70],
       [ 66,  82,  58,  69,  87],
       [ 85,  89,  57,  92,  76],
       [ 86,  63,  94,  54,  57],
       [ 80,  54,  67,  67,  68],
       [ 61,  95,  79,  87,  98],
       [ 86,  55,  78,  90,  82],
       [ 90,  81,  82,  50,  73],
       [ 85,  75,  87,  67,  87],
       [ 94, 100,  90,  62,  60],
       [ 95,  54,  81,  62,  73],
       [ 88,  51,  66,  77,  67],
       [ 74,  59,  92,  62,  62],
       [ 76, 100,  68,  67,  69],
       [ 92,  54,  65,  51,  51],
       [ 78,  65,  68,  98,  56],
       [ 52,  97,  91,  71,  57],
       [ 96,  98,  75,  62,  96],
       [ 64,  50,  78,  73,  98],
       [ 74,  84,  77,  55,  54],
       [ 73,  72,  87,  68,  79],
       [ 57,  95,  72,  93,  65],
       [ 64,  60,  60,  91,  70],
       [ 88,  93,  94,  90,  56]])