In [4]:
import pandas as pd
s = pd.Series([20, 21, 12], index=['London', 'New York', 'Helsinki'])
s.apply(lambda x: x ** 2)

London      400
New York    441
Helsinki    144
dtype: int64

In [6]:
def add_value(x, a, b=1):
    return x + a + b
    
s.apply(add_value, args=(10,), b=5)

London      35
New York    36
Helsinki    27
dtype: int64

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})
#df.apply(sum, axis=0)  # 結果: A=3, B=30
#df

   A   B
0  1  10
1  2  20

In [11]:
def my_func(row):
    return row['A'] + row['B']
df.apply(my_func, axis=1)  # 結果: [11, 22]

0    11
1    22
dtype: int64