In [ ]:
import pandas as pd
world_df = pd.read_csv("world.csv")
print(world_df.columns)
print(world_df.info())

In [ ]:
world_df1 = world_df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
world_df1

In [ ]:
# 使用布林遮罩篩選出「國家」欄位為「台灣」的資料

mask_taiwan = world_df1['國家'] == "台灣"
world_df_taiwan = world_df1[mask_taiwan]
world_df_taiwan

In [ ]:
# 使用DataFrame的query()方法篩選出
world_df_taiwan = world_df1.query("國家 == '台灣'")
world_df_taiwan

In [ ]:
# 篩選出「國家」欄位為「台灣」且「新增確診數」欄位為0的資料
taiwan1 = world_df1.query("國家 == '台灣' and 新增確診數 == 0")
taiwan1

In [16]:
taiwan_max = world_df_taiwan['新增確診數'].max()
taiwan_max_row = world_df_taiwan.query("新增確診數 == @taiwan_max")
taiwan_max_row

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [17]:
world_df_taiwan.query("日期 >= '2022-01-01' and 日期 <= '2022-01-31'")

        洲名  國家          日期   總確診數  新增確診數      總人口數  解封指數
164702  亞洲  台灣  2022-01-01  17050     21  23855008  0.21
164703  亞洲  台灣  2022-01-02  17070     20  23855008  0.21
164704  亞洲  台灣  2022-01-03  17095     25  23855008  0.21
164705  亞洲  台灣  2022-01-04  17129     34  23855008  0.21
164706  亞洲  台灣  2022-01-05  17155     26  23855008  0.22
164707  亞洲  台灣  2022-01-06  17198     43  23855008  0.22
164708  亞洲  台灣  2022-01-07  17258     60  23855008  0.22
164709  亞洲  台灣  2022-01-08  17302     44  23855008  0.23
164710  亞洲  台灣  2022-01-09  17362     60  23855008  0.23
164711  亞洲  台灣  2022-01-10  17394     32  23855008  0.23
164712  亞洲  台灣  2022-01-11  17463     69  23855008  0.24
164713  亞洲  台灣  2022-01-12  17559     96  23855008  0.24
164714  亞洲  台灣  2022-01-13  17624     65  23855008  0.25
164715  亞洲  台灣  2022-01-14  17692     68  23855008  0.25
164716  亞洲  台灣  2022-01-15  17769     77  23855008  0.26
164717  亞洲  台灣  2022-01-16  17820     51  23855008  0.26
164718  亞洲  台灣  2022-01-17  17885     65  23855008  0.27
164719  亞洲  台灣  2022-01-18  17951     66  23855008  0.27
164720  亞洲  台灣  2022-01-19  18005     54  23855008  0.27
164721  亞洲  台灣  2022-01-20  18041     36  23855008  0.28
164722  亞洲  台灣  2022-01-21  18109     68  23855008  0.28
164723  亞洲  台灣  2022-01-22  18238    129  23855008  0.29
164724  亞洲  台灣  2022-01-23  18325     87  23855008  0.30
164725  亞洲  台灣  2022-01-24  18376     51  23855008  0.30
164726  亞洲  台灣  2022-01-25  18411     35  23855008  0.30
164727  亞洲  台灣  2022-01-26  18503     92  23855008  0.31
164728  亞洲  台灣  2022-01-27  18566     63  23855008  0.31
164729  亞洲  台灣  2022-01-28  18634     68  23855008  0.32
164730  亞洲  台灣  2022-01-29  18681     47  23855008  0.32
164731  亞洲  台灣  2022-01-30  18735     54  23855008  0.32
164732  亞洲  台灣  2022-01-31  18790     55  23855008  0.33