In [ ]:
import pandas as pd
world_df = pd.read_csv("world.csv")
print(world_df.columns)
print(world_df.info())

In [ ]:
world_df1 = world_df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
world_df1

In [ ]:
# 使用布林遮罩篩選出「國家」欄位為「台灣」的資料

mask_taiwan = world_df1['國家'] == "台灣"
world_df_taiwan = world_df1[mask_taiwan]
world_df_taiwan

In [10]:
# 使用DataFrame的query()方法篩選出
world_df_taiwan = world_df1.query("國家 == '台灣'")
world_df_taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [11]:
# 篩選出「國家」欄位為「台灣」且「新增確診數」欄位為0的資料
taiwan1 = world_df1.query("國家 == '台灣' and 新增確診數 == 0")
taiwan1

        洲名  國家          日期    總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16       0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17       0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18       0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19       0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20       0      0  23855008  99999.00
...     ..  ..         ...     ...    ...       ...       ...
164627  亞洲  台灣  2021-10-18   16337      0  23855008      0.16
164823  亞洲  台灣  2022-05-02  132955      0  23855008      8.02
164828  亞洲  台灣  2022-05-07  268569      0  23855008     17.16
164829  亞洲  台灣  2022-05-08  268569      0  23855008     17.16
164834  亞洲  台灣  2022-05-13  570870      0  23855008     37.55

[186 rows x 7 columns]