In [7]:
import pandas as pd

df1 = pd.read_csv('上市公司資料.csv')
df2 = df1[['出表日期','資料年月','公司代號','公司名稱','產業別']]
df2.shape
df2.dtypes
df2.size

4195

In [15]:
df2.loc[:5]
df2.iloc[-5:]
df2.iloc[-5:][['公司名稱','產業別']]

    公司名稱   產業別
834   茂順    其他
835  好樂迪  觀光事業
836   新麗    其他
837   佳龍    其他
838  世紀鋼  鋼鐵工業