In [1]:
import pandas as pd

dataFrame = pd.read_csv('world.csv')
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [6]:
allDataFrame = dataFrame.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
mask = allDataFrame["洲名"] == "亞洲"
asiaDataFrame = allDataFrame[mask]
asiaDataFrame

        洲名   國家          日期   總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24      5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25      5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26      5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27      5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28      5      0  39835428  99999.0
...     ..  ...         ...    ...    ...       ...      ...
186200  亞洲   葉門  2022-07-02  11824      0  30490639  99999.0
186201  亞洲   葉門  2022-07-03  11824      0  30490639  99999.0
186202  亞洲   葉門  2022-07-04  11832      8  30490639  99999.0
186203  亞洲   葉門  2022-07-05  11832      0  30490639  99999.0
186204  亞洲   葉門  2022-07-06  11832      0  30490639  99999.0

[43071 rows x 7 columns]