In [ ]:
import yfinance as yf
ticker = '2330.TW'
start_date = "2025-01-01"
end_date = "2025-12-31"

data = yf.download(ticker, start=start_date, end=end_date,interval='1d',auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [2]:
data.tail()

Price             Close         High          Low         Open    Volume
Ticker          2330.TW      2330.TW      2330.TW      2330.TW   2330.TW
Date
2025-12-05  1455.149536  1455.149536  1435.215981  1440.199370  21072604
2025-12-08  1490.033203  1490.033203  1455.149483  1460.132871  24257260
2025-12-09  1475.083130  1495.016686  1475.083130  1490.033297  24235825
2025-12-10  1500.000000  1500.000000  1480.066445  1485.049834  23319221
2025-12-11  1470.000000  1515.000000  1465.000000  1510.000000  30885445

In [4]:
start_date = "2025-01-01"
end_date = "2025-12-31"
tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
data = {ticker: yf.download(ticker, start=start_date, end=end_date, interval='1d', auto_adjust=True) for ticker in tickers}
data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'2330.TW': Price             Close         High          Low         Open    Volume
 Ticker          2330.TW      2330.TW      2330.TW      2330.TW   2330.TW
 Date
 2025-01-02  1047.881592  1057.720856  1038.042328  1052.801224  43177098
 2025-01-03  1057.720825  1067.560089  1057.720825  1062.640457  30415096
 2025-01-06  1106.917114  1106.917114  1077.399325  1082.318956  69289786
 2025-01-07  1111.836914  1141.354708  1111.836914  1131.515444  48758688
 2025-01-08  1087.238770  1111.836932  1087.238770  1092.158402  45211419
 ...                 ...          ...          ...          ...       ...
 2025-12-05  1455.149536  1455.149536  1435.215981  1440.199370  21072604
 2025-12-08  1490.033203  1490.033203  1455.149483  1460.132871  24257260
 2025-12-09  1475.083130  1495.016686  1475.083130  1490.033297  24235825
 2025-12-10  1500.000000  1500.000000  1480.066445  1485.049834  23319221
 2025-12-11  1470.000000  1515.000000  1465.000000  1510.000000  30885445

 [229 rows x 5 columns],
 '2303.TW': Price           Close       High        Low       Open    Volume
 Ticker        2303.TW    2303.TW    2303.TW    2303.TW   2303.TW
 Date
 2025-01-02  41.049957  41.049957  40.251501  40.298471  65305876
 2025-01-03  40.486340  41.472669  40.486340  41.284796  42345224
 2025-01-06  40.768150  41.096924  40.721180  40.956019  30917178
 2025-01-07  39.781818  41.143888  39.781818  41.002987  58823388
 2025-01-08  40.110596  40.298468  39.781818  39.828789  37912494
 ...               ...        ...        ...        ...       ...
 2025-12-05  48.900002  49.299999  48.000000  48.049999  82641984
 2025-12-08  49.299999  50.000000  48.450001  49.750000  66401289
 2025-12-09  49.599998  49.900002  48.700001  49.700001  43073174
 2025-12-10  49.349998  49.750000  49.000000  49.750000  42078886
 2025-12-11  48.650002  49.599998  48.000000  49.549999  42010968

 [229 rows x 5 columns],
 '2454.TW': Price             Close         High          Low         Open    Volume
 Ticker          2454.TW      2454.TW      2454.TW      2454.TW   2454.TW
 Date
 2025-01-02  1323.937988  1372.972729  1309.227566  1368.069255   6820305
 2025-01-03  1338.648438  1343.551912  1309.227593  1338.648438   5752498
 2025-01-06  1397.490112  1397.490112  1363.165794  1363.165794   6907233
 2025-01-07  1461.235352  1471.042300  1387.683237  1417.104083  12307998
 2025-01-08  1441.621460  1471.042306  1431.814511  1471.042306  10805038
 ...                 ...          ...          ...          ...       ...
 2025-12-05  1425.000000  1445.000000  1405.000000  1420.000000   7682537
 2025-12-08  1440.000000  1440.000000  1405.000000  1430.000000   5746578
 2025-12-09  1420.000000  1440.000000  1415.000000  1435.000000   4993367
 2025-12-10  1460.000000  1460.000000  1425.000000  1435.000000   8224726
 2025-12-11  1395.000000  1450.000000  1395.000000  1445.000000   9737528

 [229 rows x 5 columns],
 '2317.TW': Price            Close        High         Low        Open    Volume
 Ticker         2317.TW     2317.TW     2317.TW     2317.TW   2317.TW
 Date
 2025-01-02  176.104248  179.481590  175.139293  177.551680  38301022
 2025-01-03  174.656815  177.551679  174.174337  176.586724  46698161
 2025-01-06  178.034164  180.929029  177.069210  178.516642  66600965
 2025-01-07  183.341415  185.271325  179.964074  180.446551  80605094
 2025-01-08  181.411499  183.341409  180.446544  183.341409  40650155
 ...                ...         ...         ...         ...       ...
 2025-12-05  231.000000  231.500000  228.500000  229.000000  34284096
 2025-12-08  232.000000  232.000000  229.000000  231.500000  29235914
 2025-12-09  235.000000  236.500000  232.000000  233.000000  53342004
 2025-12-10  233.500000  236.000000  232.000000  236.000000  35301661
 2025-12-11  226.000000  234.500000  226.000000  234.000000  58924285

 [229 rows x 5 columns]}