In [ ]:
import yfinance as yf
ticker = '2330.TW'
start_date = "2025-01-01"
end_date = "2025-12-31"

data = yf.download(ticker, start=start_date, end=end_date,interval='1d',auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

pandas.core.frame.DataFrame

In [2]:
data.tail()

Price             Close         High          Low         Open    Volume
Ticker          2330.TW      2330.TW      2330.TW      2330.TW   2330.TW
Date
2025-12-05  1455.149536  1455.149536  1435.215981  1440.199370  21072604
2025-12-08  1490.033203  1490.033203  1455.149483  1460.132871  24257260
2025-12-09  1475.083130  1495.016686  1475.083130  1490.033297  24235825
2025-12-10  1500.000000  1500.000000  1480.066445  1485.049834  23319221
2025-12-11  1470.000000  1515.000000  1465.000000  1510.000000  30885445